# ai模型回答问题测试 This is the result of the tests of answering the questions.

## 使用GLM（DEEPSEEK）做题的结果 The results of using GLM (DEEPSEEK) to solve problems

| 题型_questions |  英语题_English  |  数学题_Math  |
| :- | :-: | :-: |
| 总数_total | 15 | - |
| 正确个数_correct | 10 | - |
| 正确率_accuracy | 66.7% | - |
| 等级_grade | B | - |

## 附：题目 Attachment: Question Title

### 英语 English

> 1. Unfortunately, when I dropped in, Doctor Li ___ for Beijing to join in the fight again SARS, so we only had time for a few words.
> A. just left         B. has just left      C. is just leaving       D. was just leaving 
> 2．He hasn't come yet．What do you consider ___ to him？ 
> A．happens       B．has happened       C．happening         D．to happen 
> 3. ___  is known to us all is that China has launched Shenzhou V spaceship successfully.
> A. That        B. What           C. It           D. As
> 4. —You've made great progress in your studies of English, haven't you?
> —Yes, but much ___ .
> A. remains to do         B. is remained to do   C. remains to be done            D. is remained to be done
> 5. ___ that the South African writer John Coetzee won the Nobel Prize in Literature for 2003.
> A. They’er reported          B. He’s reported  C. We’er reported           D. It’s reported
> 6. ___ the Atlantic Ocean crosses the equator, the trade winds cause a flow of water to the west. 
> A. That       B. When        C. Where       D. Though 
> ~~7. — You can't finish the book in less than an hour,I suppose?~~
> — ___ .
> A. Yes, I'm sure I can      B. No, hardly  C. Sorry, I can't        D. I don't think I can
> ~~8. It's impossible for all the people to get jobs because ___ of them are not fit for them.~~
> A. none          B. all          C. not all         D. every one
> ~~9. — When will you leave for Paris for a visit?~~
> — ___ next month.
> A. Until         B. After          C. At          D. In
> 10. The two old sisters, ___ so long，held each other and burst into tears．
> A．being separated     B．having been separated  C．having separated      D．had been separated 
> ~~11. Never ___ forget the days when ___ together with you.~~
> A．shall I；I lived   B．shall I；did I live   C．I shall；I lived        D．I shall；did I live 
> 12. Why didn't you tell me there was no meeting today? I ___ all the way here ___ the heavy snow. 
> A. needn't have driven；through   B. can't have driven；across
C. mustn't have driven；through   D. shouldn't have driven；cross 
> 13．It was the training ___ he had at school ___ made him good jumper． 
> A．what；what      B．that；that   C．what；that       D．that；had 
> ~~14. It was ___ great shock to the world that two airplanes crashed into ___ World Trade Centre in New York on Sept．~~
> A．a；／        B．the；the           C．a；the            D．／；the 
> 15. For quite ___ students，their teacher's advice is more important than ___ of their parents'． 
> A．few；one       B．a few；that   C．a little；some          D．a lot；many

### 正确选项 Correct

DBBCDC ABBBAA BCB

### 输出答案 Answers

DBBCDC DADBBA BAB
